html{
    width: 100%;
}
body{
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
   margin: 0%;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.espace{
    margin-right: 130px;
    margin-left: 130px;
}

.navbar {
    display: flex;
    justify-content :center ;
    align-items: center;
    width: 100%;
    font-size: 20px;
    width: 100%;
}
.navbar a{
    color: white;
}
.x-img{
    height: 80px;
    width: 90px;
    margin-right: 50px;
}
.x-img img{
    width: 100%;
    height: 100%;
    
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    padding: 40px 0;
}

.text{
    font-size: 35px;
}

.image {
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    width: 76%;
    row-gap: 0px;
    background-color:#797474;
    padding: 20px 30px;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 30px;
}
.head-img img{
    height: 80px;
    width: 70px;
}


/*animation*/

.container-animation {
    overflow: hidden;
}

.animated-image {
    width: 200px; 
    animation: move 3s infinite alternate;
}

@keyframes move {
    0% {
        transform: translatey(0);
        transform: translatex(0);
    }
    100% {
        transform: translatey(00px);
        transform: translatex(182px);
    }
}

.head-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
font{
    color: black;
}
.khat{
    text-decoration: line-through;
}
.head p {
    display: flex;
    align-items: center;
}
.head-img2 img{
    height: 200px;
    width: 200px;
}
.head-img2{
    height: 200px;
    width: 200px;
}

/* MENU */
.menu{
    font-size: 20px;
}
.phone-products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    background-color: #343232;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 30px;
}

.product{
    background-color:#797474;
    width: 200px;
    height: 250px;
    margin: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

}
.product-image{
    width: 100px;
    height: 150px;
}
.product-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-title{
    color: black;
}

/* commande and download */

.commande-download{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    padding: 50px 20px;
    gap: 20px;
}

.commande,
.download{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.commande-form , 
.download-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    row-gap: 20px;
    background-color: #797474;
    width: 350px;
    height: 120px;
    border-radius: 30px;

}


.download-buttons button,
.commande-form button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: aliceblue;
    background-color: #00A4EE;
    border: 0;
    border-radius: 30px;
    transition: background-color 3s ease; 
    transform: height 3s ease;
}

.commande-form a{
    color: aliceblue;
}

.download-buttons button:hover ,
.commande-form button:hover{
    background-color: rgb(73, 13, 192); 
    height: 50px;
}

.commande-button{
    display: grid;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    
}


.button1 img{
    width: 40px;
    height: 40px;

}
.button2 img{
    width: 22px;
    height: 22px;
}

/* buy now */

.buy-now{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    
}

.buy-now-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 13px;
    row-gap: 20px;
    background-color: #797474;
    width: 350px;
    height: 120px;
    border-radius: 30px;

}

.buy-now-button:hover {
    background-color: green; 
    width: 200px;  
}

.buy-now-buttons button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: yellow;
    border: 0;
    border-radius: 30px;
    transition: background-color 3s ease; 
    transform: height 3s ease;
}

.buy-now-buttons button:hover{
    background-color: rgb(52, 192, 13); 
    height: 50px;
}

.button3 img{
    width: 300px;
    height: 70px;
}
.button4 img{
    width: 50px;
    height: 40px;
}

/* footer */

footer{
    background-color: #797474;
    color: white;
    border-radius: 30px;
}
.foot{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 30px 80px;
}

.footer-p{
    font-size: 20px;
}

.footer-p2{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.foot p img{
    width: 40px;
    height: 40px;
}
/* Styles pour les petits écrans (téléphones) */
@media (max-width: 600px)  {
    img{
        width: 350px;
    }
    .navbar {
        flex-direction: column; 
        align-items: center;
        padding: 10px 0;
    }

    .image-container {
        padding: 20px 0;
    }

    .head {
        flex-direction: column; 
        width: 84%;
    }

    .phone-products {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
    }

    .product {
        width: 40%; 
        margin: 15px; 
    }
    .product-image{
        width: 70px;
        height: 100px;
    }
    .product-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .commande-download {
        flex-direction: column;
        justify-content: space-between; 
        padding: 30px;
    }

    .commande-form,
    .download-buttons {
        width: 90%; 
    }
}
.x-img{
    height: 80px;
    width: 90px;
    margin-left: 40px;
}

/* Styles pour les écrans moyens (tablettes) */
@media (min-width: 601px) and (max-width: 900px) {
    .navbar {
        flex-direction: column; 
        align-items: center;
        padding: 10px 0;
    }

    .phone-products {
        flex-wrap: wrap; 
        justify-content: center; 
    }

    .product {
        width: 45%; 
        margin: 10px; 
    }

    .commande-download {
        flex-direction: column;
        justify-content: space-between; 
        padding: 30px;
    }

    .commande-form,
    .download-buttons {
        width: 45%; 
    }
}
